:root {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.files-section {
    display: flexbox;
    margin : 350px auto;
    width: 15%;
    height: 300px;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 50%;
    input {
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    a:link {
        text-decoration: none;
    }
    a {
        color: black;
        border: 0.5px solid black;
        border-radius: 5px;
        padding: 4px;
    }
    a:hover {
        color:darkslategray;
        box-shadow: 1px 1px black;
    }
    
    a:active {
        box-shadow: none;
    }

}
