<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static",filename="style.css") }}' />
    <title>Home Server</title>
</head>
<body>
    <div class="files-section">
        <form method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "files[]" id="file" class="file" directory multiple/>
            <input type = "submit" class="submit" value="Upload"/>
            <a href="/files">files</a>
        </form>
    </div>
    
      <div id="progress-bar">HELLO</div>
</body>
</html>
