<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome HS user</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
</head>
<body>
    <nav class="navigation">
        <a class="home-link" href="/">Home</a>
        <a class='login-link'href="/login">Login</a>
        <a class="sign-link" href="/signup">Sign up</a>
        <img src="{{url_for('static',filename='hsLogo.jpg')}}" class="title" width="70px" height="70px">
    </nav>

    <h1>Home Server</h1>

    <div class="about-us">
        <h2 class="about-title">About us</h2>
        <span class="about-text">
            Home server is a place where you can store all your files in your home server<br>
            without the fear of getting hacked because all things are stored locally wheter on your device<br>
            or in ours.. soon :)
        </span>

    </div>
</body>
</html>
