<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='signing.css') }}">
</head>
<body>
    <nav class="navigation">
        <a class="home-link" href="/">Home</a>
        <a class='login-link'href="/login">Login</a>
        <a class="sign-link" href="/signup">Sign up</a>
        <img src="{{url_for('static',filename='hsLogo.jpg')}}" class="title" width="70px" height="70px">
    </nav>
    <div class="container">
        <form action="{{url_for('login')}}" method="post">
            <h1 class="login-title">Login</h1>
            <input name="username" class="username" type="text" maxlength="12" placeholder="Enter your username:" required>
            <!-- <input name="email" type="email" placeholder="example@mail.com" required> -->
            <input name="password" type="password"placeholder="Enter your password here :" required>
            <span class="error-msg" name="error-msg">{{ error_msg }}</span>
            <label for="login" class="saving-info-label">
                <input type="checkbox" name="save-info" id="info-id">
                <span id="save-info-text" class="save-info-text-class">Remember me</span>
            </label>
            <input type="submit" value="Log in">
        </form>
    </div>
</body>
</html>